<h1>
    Tab {{ t }}
</h1>

<div class="block"><p><b>{{ t }}</b></p>
    <p>
        This page is not dyanmic, though we could put the counts  here.

        Really we need to load the database and show a progress bar,
        and show how to download the app.

    </p>
</div>
