<h1>
    Tab {{ t }}
</h1>

<div class="block">
    <p><b>{{ t }}</b></p>
    <article>
        Really we need to load the database and show a progress bar,
        and show how to download the app.

        Dynamic:
        {# this really isn't dexie, but right now dexie is passing window, so it works. #}
        <twig:dexie
                store="obras"
                :caller="_self"
                refreshEvent="app.load"
        >
            <twig:block name="twig_template">
            <h1>Welcome to {{ window.app.name }}</h1>
            </twig:block>

        </twig:dexie>

        The menu items should be a hamburger menu.
        <twig:mobile_menu
            :caller="_self"
            type="MOBILE_PAGE_MENU"
        >

        </twig:mobile_menu>

    </article>
</div>
