{#{% extends '@SurvosFw/fwPage.html.twig' %}#}

{# is type page/component, or page/tab? #}
{% set type = 'tab' %}
{% set fw7Meta = fw7_metadata(_self, type) %}

<template>
  <div class="page" data-name="catalog">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
      <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
        <div class="title">{{ fw7Meta.templateId|title }}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list list-strong list-dividers-ios list-outline-ios inset-md">
        {{ _self }}

      </div>

    </div>
  </div>
</template>
