{#{% extends '@SurvosFw/fwPage.html.twig' %}#}

{# is type page/component, or page/tab? #}
{% set type = 'tab' %}
{% set fw7Meta = fw7_metadata(_self, type) %}

{% set store = 'products' %}
{% set globals = {
    'self': _self
} %}


    <div class="page" data-name="map">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
      <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
        <div class="title">{{ fw7Meta.templateId|title }}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list list-strong list-dividers-ios list-outline-ios inset-md">
        {{ _self }}

          <div id="test">
              this is a test id...
          </div>
          <twig:dexie
                  :store="store"
                  :globals="globals"
                  :filter="{}"
                  refreshEvent="map.view"
                  :caller="_self"
          >

              <twig:block name="title">
                  event...
              </twig:block>

              <twig:block name="twig_template" id="hack_to_get_raw_data">
                  <span class="count">there are {{ rows|length }} rows </span>

                  {% for row in rows %}
                      {% set detail = row.details %}

                          <div class="expandable-content list-item__expandable-content">Expandable content</div>
                      </ons-list-item>
                  {% endfor %}
                  <!-- hack_to_get_raw_data -->
              </twig:block>

          </twig:dexie>


      </div>

    </div>
  </div>
<template>
</template>
